* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: #13243e;
  border: 1px solid #ffffff;
}

header {
  text-align: center;
}

header img {
  height: 90px;
}

main {
  /* height: 70vh; */
  border: 1px blue solid;
  /* background-color: #dddddd; */
}

#bio {
 display: flex;
}

#name-date {
  display: flex;
  justify-content: space-between;
}

#bio-choose {
  width: 100%;
}

#choose-list {
  padding: 1rem;
}

#choose-list h4 {
  margin-bottom: 1rem;
}

#tech img{
  height: 200px;
}

#interest {

}

.greyBox {
  background-color: #555555;
  font-weight: 100;
}


#copyright {
  color: rgb(50, 50, 205);
  background-color: chartreuse;
}


