* {
  margin: 0;
  font-family:'Roboto'
}

header {
  border: solid #dddddd;
}

main {
  height: 70vh;
  border: 1px blue solid;
  background-color: #dddddd;
}

h1 {
  background-color: chocolate;
}

.variableSizeText {
  font-size: 1.5rem;
  font-weight: 900;
}

img {
  width: 20rem;
}

#copyright {
  color: rgb(50, 50, 205);
  background-color: chartreuse;
}

.bodyText {
  background-color: #fb0404;
  color: #fff333;
}

